<form [formGroup]="bookForm" (ngSubmit)="editBook(id)">
  <table>
    <tr>
      <td>Id</td>
      <td><input type="text" formControlName="id"></td>
    </tr>
    <tr>
      <td>Title</td>
     <td> <input type="text" formControlName="title"> </td>
    </tr>
    <tr>
      <td>Author</td>
       <td><input type="text" formControlName="author"></td>
    </tr>
    <tr>
      <td>description</td>
      <td><input type="text" formControlName="description"></td>
    </tr>
    <tr>
      <td></td><td><button>Cập Nhật</button></td>
    </tr>
  </table>
</form>
